@import 'tailwindcss';
@import '@fontsource/sansation/300.css';
@import '@fontsource/sansation/300.css';
@import '@fontsource/raleway/300.css';

:root {
    --light-background-color: #D1F8EF;
    --Blue3: #002B4F;
    --Blue4: #00003C;
    --Green: #8BC444;

    @media (width <=770px) {
        .hidden-on-mobile {
            display: none !important;
        }

        .title-text-dark {
            font-size: 24px;
            color: var(--Blue4);
            font-family: "Sansation", sans-serif;
        }

        .subtitle-text-dark {
            font-size: 16px;
            color: var(--Blue4);
            font-family: "Sansation", sans-serif;
        }

        .paragraph-text-dark {
            font-size: 16px;
            color: var(--Blue4);
            font-family: "Raleway", sans-serif;
        }

        .large-paragraph-text-dark {
            font-size: 16px;
            color: var(--Blue4);
            font-family: "Raleway", sans-serif;
        }

        .title-text-light {
            font-size: 24px;
            color: #FFFFFF;
            font-family: "Sansation", sans-serif;
        }

        .subtitle-text-light {
            font-size: 16px;
            color: #FFFFFF;
            font-family: "Sansation", sans-serif;
        }

        .paragraph-text-light {
            font-size: 16px;
            color: #FFFFFF;
            font-family: "Raleway", sans-serif;
        }

        .large-paragraph-text-light {
            font-size: 16px;
            color: #FFFFFF;
            font-family: "Raleway", sans-serif;
        }
    }

    @media (770px < width) and (width < 1200px) {
        .hidden-on-tablet {
            display: none !important;
        }

        .title-text-dark {
            font-size: 32px;
            color: var(--Blue4);
            font-family: "Sansation", sans-serif;
        }

        .subtitle-text-dark {
            font-size: 24px;
            color: var(--Blue4);
            font-family: "Sansation", sans-serif;
        }

        .paragraph-text-dark {
            font-size: 16px;
            color: var(--Blue4);
            font-family: "Raleway", sans-serif;
        }

        .large-paragraph-text-dark {
            font-size: 24px;
            color: var(--Blue4);
            font-family: "Raleway", sans-serif;
        }

        .title-text-light {
            font-size: 32px;
            color: #FFFFFF;
            font-family: "Sansation", sans-serif;
        }

        .subtitle-text-light {
            font-size: 24px;
            color: #FFFFFF;
            font-family: "Sansation", sans-serif;
        }

        .paragraph-text-light {
            font-size: 16px;
            color: #FFFFFF;
            font-family: "Raleway", sans-serif;
        }

        .large-paragraph-text-light {
            font-size: 24px;
            color: #FFFFFF;
            font-family: "Raleway", sans-serif;
        }
    }

    @media (1200px <=width) {
        .hidden-on-desktop {
            display: none !important;
        }

        .title-text-dark {
            font-size: 32px;
            color: var(--Blue4);
            font-family: "Sansation", sans-serif;
        }

        .subtitle-text-dark {
            font-size: 24px;
            color: var(--Blue4);
            font-family: "Sansation", sans-serif;
        }

        .paragraph-text-dark {
            font-size: 16px;
            color: var(--Blue4);
            font-family: "Raleway", sans-serif;
        }

        .large-paragraph-text-dark {
            font-size: 24px;
            color: var(--Blue4);
            font-family: "Raleway", sans-serif;
        }

        .title-text-light {
            font-size: 32px;
            color: #FFFFFF;
            font-family: "Sansation", sans-serif;
        }

        .subtitle-text-light {
            font-size: 24px;
            color: #FFFFFF;
            font-family: "Sansation", sans-serif;
        }

        .paragraph-text-light {
            font-size: 16px;
            color: #FFFFFF;
            font-family: "Raleway", sans-serif;
        }

        .large-paragraph-text-light {
            font-size: 24px;
            color: #FFFFFF;
            font-family: "Raleway", sans-serif;
        }
    }

    section {
        display: grid;
        place-items: center;
        align-content: center;
        height: 100vh;
    }

    .hidden-1s {
        opacity: 0;
        filter: blur(5px);
        transform: translateX(-100%);
        transition: all 1s;
    }

    .hidden-2s {
        opacity: 0;
        filter: blur(5px);
        transform: translateX(-100%);
        transition: all 2s;
    }

    .show {
        opacity: 1;
        filter: blur(0);
        transform: translateX(0);
    }

    .hero-section {
        place-items: unset;
        align-content: unset;
    }
}