@import 'tailwindcss';
@import '@fontsource/sansation/300.css';
@import '@fontsource/sansation/300.css';
@import '@fontsource/raleway/300.css';

:root {
    --light-background-color: #D1F8EF;
    --Blue3: #002B4F;
    --Blue4: #00003C;
    --Green: #8BC444;

    @media (width <= 40rem) {      
        .hidden-on-mobile {
            display: none !important;
        }  
    }

    @media (width > 40rem) {      
        .hidden-on-desktop {
            display: none !important;
        }  
    }

    section {
        display: grid;
        place-items: center;
        align-content: center;
        height: 100vh;
    }

    .hidden-1s {
        opacity: 0;
        filter: blur(5px);
        transform: translateX(-100%);
        transition: all 1s;
    }

    .hidden-2s {
        opacity: 0;
        filter: blur(5px);
        transform: translateX(-100%);
        transition: all 2s;
    }

    .show {
        opacity: 1;
        filter: blur(0);
        transform: translateX(0);
    } 

    .hero-section {
        place-items: unset;
        align-content: unset;
    }    
}
